# File system junk files
Desktop.ini
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
.apdisk
.fseventsd

# Editor files
*.sublime-*
*.swp
.c9
.sass-cache/

# Wordpress
wp-content/*

# WordPress Starter Dev Files
/Dockerfile
/docker-compose.yml
test.sh
/wordpress/wp-activate.php
/wordpress/.htaccess
/wordpress/index.php
/wordpress/readme.html
/dev-theme/
/hh-changes/docker-compose.yml
/wordpress/license.txt
/wordpress/wp-admin/about.php
/wordpress/wp-admin/admin-ajax.php
/wordpress/wp-admin/admin-footer.php
/wordpress/wp-admin/admin-functions.php
/wordpress/wp-admin/admin-header.php
/wordpress/wp-admin/admin-post.php
/wordpress/wp-admin/admin.php
/wordpress/wp-admin/async-upload.php
/wordpress/wp-blog-header.php
wp-*
/wordpress/xmlrpc.php
